* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20vh;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.582);
    border-radius: 12px;
    position: relative;
}
.logo {
    filter: drop-shadow(0 0 6px black);
}
.button {
    position: absolute;
    right: 3%;
    top: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main {
    margin: 40px;
}
.poste {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.ImageUrl {
    width: 20%;
    border-radius: 12px;
}
.text-description {
    width: 40%;
    text-align: center;
    margin: 40px 1px;
}
.author {
    margin: 10px;
}
.modifcation,
.valider {
    margin: 5px;
    padding: 0.5%;
}
footer {
    box-shadow:0 0 40px rgba(255, 0, 0, 0.559);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}