* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
.header {
    display: flex;
    justify-content: space-between;
    height: 20vh;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.373);
}
.logo {
    object-fit: cover;
    width: 10%;
    margin: 20px;
    filter: drop-shadow(0 0 6px black);
}
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 5%;
    gap: 10px;
}
.Profils,
.LogOut {
    cursor: pointer;

}
main {
    margin: 30px;
    display: flex;
    justify-content: center;
}
.container-post {
    border: 1px solid red;
    margin: 40px 10px;
    padding: 5%;
    position: relative;
    gap: 20px;
    border-radius: 20px;
}
.poste {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    border: 1px solid purple;
}
.Create {
    position: absolute;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(128, 128, 128, 0.824);
    bottom: 10px;
    right: 30px;
    padding: 2%;
    cursor: pointer;
}
.Screen {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10%;
}
footer {
    box-shadow:0 0 40px rgba(255, 0, 0, 0.559);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}