* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    justify-content: center;
}
.Inscription {
    border: 1px solid black;
}
.Connexion {
    border: 1px solid red;
}